//All colors for the site

//lightest color, for backgrounds
$lightest-color: #ffffff;

//homepage and about colors
$darkest-blue: hsl(160, 14%, 28%);
$dark-blue: hsl(160, 37%, 35%);
$gray-blue: hsl(160, 14%, 53%);
$bright-blue: hsl(160, 45%, 50%);
$light-blue: hsl(160, 75%, 85%);

//coding colors
$darkest-pink: hsl(348, 14%, 28%);
$dark-pink: hsl(348, 37%, 35%);
$gray-pink: hsl(348, 14%, 53%);
$bright-pink: hsl(348, 45%, 50%);
$light-pink: hsl(348, 75%, 85%);

//ideation and prototyping colors
$darkest-orange: hsl(20, 14%, 28%);
$dark-orange: hsl(20, 37%, 35%);
$gray-orange: hsl(20, 14%, 53%);
$bright-orange: hsl(20, 45%, 50%);
$light-orange: hsl(20, 75%, 85%);

//digital art colors
$darkest-gold: hsl(36, 14%, 28%);
$dark-gold: hsl(36, 37%, 42%);
$gray-gold: hsl(36, 14%, 53%);
$bright-gold: hsl(36, 45%, 50%);
$light-gold: hsl(36, 75%, 85%);

//audio colors
$darkest-red: hsl(4, 14%, 28%);
$dark-red: hsl(4, 37%, 35%);
$gray-red: hsl(4, 14%, 53%);
$bright-red: hsl(4, 45%, 50%);
$light-red: hsl(4, 75%, 85%);


//Changing navbar styles using variables so that they override bootstrap
$navbar-margin-bottom: 0px;
$navbar-opacity: .8;
$ailerons: "Ailerons", sans-serif;
$coves: "Coves", sans-serif;
$kano: "Kano", sans-serif;

//fonts

@font-face {
    font-family: Coves;
    src: url(../font/coves-font/coves-light.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Kano;
    src: url(../font/kano_regular/kano.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Ailerons;
    src: url(../font/ailerons/ailerons-typeface.otf);
    font-weight: normal;
    font-style: normal;
}

//constant styles

html {
    height: 100%;
    box-sizing: border-box;
}

div.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 60px;
}

div.content {
    background: $lightest-color;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
    min-height: 100%;
}

div.pagefooter {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: $lightest-color;
    .modeling-home div.pageheader, .sound-home div.pageheader, .games-home div.pageheader, .ideapro-home div.pageheader{
        padding-top: 50px;
    }
}

header {
    text-align: center;
    font-size: 64px;
    font-family: "Ailerons", sans-serif;
    a:link, a:visited, a:hover {
        text-decoration: none;
    }
}

div.home {
    background-size: cover;
}

footer {
    font-size: 16px;
    font-family: "Kano", sans-serif;
    text-align: center;
    height: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    width: inherit;
}

h1.page-title {
    font-size: 48px;
    font-family: "Ailerons", sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

h2.page-subtitle {

    font-size: 24px;
    font-family: "Coves", sans-serif;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

div.col-lg-3.col-md-6, div.col-lg-4.col-md-6 {
    padding-bottom: 10px;
    img {
        width: inherit;
    }
}

p {
    font-size: 16px;
    font-family: "Coves", sans-serif;
}



nav {
    opacity: $navbar-opacity;
    .navbar-brand {
    font-family: "Ailerons", sans-serif;
    font-size: 24px;
    }
    .navbar {
    margin-bottom: $navbar-margin-bottom;
    }
    li {
    font-family: "Kano", sans-serif;
    font-size: 12px;
    }
}

a.backbutton1 {
    font-family: "Kano", sans-serif;
    font-size: 16px;
}

div.bottomnav a {
    display: inline-block;
    padding-right: 10px;
    font-family: "Kano", sans-serif;
}

figcaption {
    text-align: center;
    font-family: "Coves", sans-serif;
    font-size: 16px;
}


//content-specific styles

body.body-home {
    color: $dark-blue;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38594e+42,46767f+73,38594e+89,46767f+95,38594e+100 */
background: #38594e; /* Old browsers */
background: -moz-linear-gradient(-45deg, #38594e 42%, #46767f 73%, #38594e 89%, #46767f 95%, #38594e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #38594e 42%,#46767f 73%,#38594e 89%,#46767f 95%,#38594e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #38594e 42%,#46767f 73%,#38594e 89%,#46767f 95%,#38594e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38594e', endColorstr='#38594e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        header, footer {
        color: $light-blue;
        a:link, a:visited {
            color: $light-blue;
        }
        a:hover {
            color: $lightest-color;
        }
    }
    h1 {
        color: $bright-blue;
    }
    h2 {
        color: $gray-blue;
    }
}

body.ideapro-home {
    color: $dark-blue;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38594e+0,38594e+40,775443+79,38594e+90,7f5946+96,38594e+100 */
            background: #38594e; /* Old browsers */
            background: -moz-linear-gradient(-45deg, #38594e 0%, #38594e 40%, #775443 79%, #38594e 90%, #7f5946 96%, #38594e 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #38594e 0%,#38594e 40%,#775443 79%,#38594e 90%,#7f5946 96%,#38594e 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #38594e 0%,#38594e 40%,#775443 79%,#38594e 90%,#7f5946 96%,#38594e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38594e', endColorstr='#38594e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        header, footer {
        color: $light-blue;
        a:link, a:visited {
            color: $light-blue;
        }
        a:hover {
            color: $lightest-color;
        }
    }
    h1 {
        color: $bright-blue;
    }
    h2 {
        color: $gray-blue;
    }
}

body.games-home {
    color: $dark-blue;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38594e+0,38594e+40,7f4651+80,38594e+90,7f4651+96,38594e+100 */
            background: #38594e; /* Old browsers */
            background: -moz-linear-gradient(-45deg, #38594e 0%, #38594e 40%, #7f4651 80%, #38594e 90%, #7f4651 96%, #38594e 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #38594e 0%,#38594e 40%,#7f4651 80%,#38594e 90%,#7f4651 96%,#38594e 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #38594e 0%,#38594e 40%,#7f4651 80%,#38594e 90%,#7f4651 96%,#38594e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38594e', endColorstr='#38594e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        header, footer {
        color: $light-blue;
        a:link, a:visited {
            color: $light-blue;
        }
        a:hover {
            color: $lightest-color;
        }
    }
    h1 {
        color: $bright-blue;
    }
    h2 {
        color: $gray-blue;
    }
}

body.sound-home {
    color: $dark-blue;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38594e+0,38594e+40,7a4844+80,38594e+90,7f4946+96,38594e+100 */
            background: #38594e; /* Old browsers */
            background: -moz-linear-gradient(-45deg, #38594e 0%, #38594e 40%, #7a4844 80%, #38594e 90%, #7f4946 96%, #38594e 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #38594e 0%,#38594e 40%,#7a4844 80%,#38594e 90%,#7f4946 96%,#38594e 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #38594e 0%,#38594e 40%,#7a4844 80%,#38594e 90%,#7f4946 96%,#38594e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38594e', endColorstr='#38594e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        header, footer {
        color: $light-blue;
        a:link, a:visited {
            color: $light-blue;
        }
        a:hover {
            color: $lightest-color;
        }
    }
    h1 {
        color: $bright-blue;
    }
    h2 {
        color: $gray-blue;
    }
}

body.modeling-home {
    color: $dark-blue;

       /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#38594e+0,38594e+40,7c6645+80,38594e+90,7c6645+96,38594e+100 */
            background: #38594e; /* Old browsers */
            background: -moz-linear-gradient(-45deg, #38594e 0%, #38594e 40%, #7c6645 80%, #38594e 90%, #7c6645 96%, #38594e 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, #38594e 0%,#38594e 40%,#7c6645 80%,#38594e 90%,#7c6645 96%,#38594e 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, #38594e 0%,#38594e 40%,#7c6645 80%,#38594e 90%,#7c6645 96%,#38594e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38594e', endColorstr='#38594e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        header, footer {
        color: $light-blue;
        a:link, a:visited {
            color: $light-blue;
        }
        a:hover {
            color: $lightest-color;
        }
    }
    h1 {
        color: $bright-blue;
    }
    h2 {
        color: $gray-blue;
    }
}
